/* ===== Footer Base ===== */

.footer {
    width: 100%;
    background: rgb(33, 7, 166);
    color: white;
    padding: 50px 20px 25px;
    box-sizing: border-box;
}

/* Container */

.footer-container {
    max-width: 1100px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 18px;
}

/* Logo */

.footer-logo {
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 1px;
}

/* Text */

.footer-text {
    font-size: 15px;
    color: white;
}

/* Navigation Links */

.link {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}

.link a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: 500;
    transition: 0.3s;
}

.link a:hover {
    color: #e81212;
}

/* Social Links */

.footer-social {
    display: flex;
    gap: 15px;
}

.footer-social a {
    text-decoration: none;
    color: white;
    border: 1px solid #334155;
    padding: 8px 18px;
    border-radius: 6px;
    font-size: 14px;
    transition: 0.3s;
}

.footer-social a:hover {
    border-color: #f70e0e;
    color: #840505;
}

/* Copyright */

.copyright {
    font-size: 13px;
    color: #020810;
    margin-top: 10px;
}

/* ===== Tablet Responsive ===== */

@media (max-width:768px) {

    .footer-logo {
        font-size: 24px;
    }

    .footer-text {
        font-size: 14px;
    }

    .link {
        gap: 20px;
    }

    .link a {
        font-size: 14px;
    }

    .footer-social a {
        padding: 7px 14px;
        font-size: 13px;
    }

}

/* ===== Mobile Responsive ===== */

@media (max-width:480px) {

    .footer {
        padding: 40px 15px;
    }

    .footer-container {
        gap: 15px;
    }

    .link {
        gap: 15px;
    }

    .link a {
        font-size: 13px;
    }

    .footer-social {
        flex-direction: column;
    }

    .footer-social a {
        width: 160px;
        text-align: center;
    }

    .copyright {
        font-size: 12px;
    }

}